mat-grid-list {
    gap: 16px;
    padding:18px;
    border-top: 1px solid;
    border-bottom: 1px solid;

  }
  mat-grid-tile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button{
    padding: 5px;
    margin: 10px;
  }


 
  