
  
  .wrapper {
    padding: 0;
    margin: auto;
    width: 90%;
    overflow: hidden;
  }
  
  h1 {
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: gray;
    font-weight: 300;
  }