<footer class="footer">
    <div class="footer-container">
     
  
      <!-- Promo Section -->
      <div class="promo-section">
        <h3>Special Offer</h3>
        <p>Sign up for our newsletter and get 10% off your first purchase!</p>
        <button mat-raised-button color="primary" (click)="subscribeToPromo()">Subscribe Now</button>
      </div>
    </div>
  
    <!-- Copyright -->
    <div class="footer-copyright">
      <p>&copy; 2024 WS -Commerce, Inc. All rights reserved.</p>
    </div>
  </footer>
  