.category-tile {
    position: relative;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    text-align: center;
    color: white;
    height: 100%;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
  
    .category-image {
      width: 100vh;
      height: 100%;
      object-fit: cover;
      border-radius: 8px;
    }
  
    h2 {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      font-size: 1.2em;
      background: rgba(0, 0, 0, 0.6);
      color: white;
      padding: 0.5em;
      width: calc(100% - 20px); 
      border-radius: 4px;
      margin: 0;
    }
  }
  