.product-showcase {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 70%;
  margin: auto;

  .product-image {
    position: relative;
    width: 40%; 

    img {
      max-width: 100%;
    }

    .badge {
      position: absolute;
      top: 20px;
      right: 10px;
      background: #00bfff;
      color: white;
      padding: 5px 10px;
      border-radius: 50%;
      font-weight: bold;
    }

    .logo {
      position: absolute;
      top: 0;
      left: 0;
      max-width: 50px;
    }
  }

  .product-details {
    flex: 1;

    h2 {
      font-size: 1.5rem;
      margin: 0;
    }

    p {
      margin: 5px 0;
      color: #555;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin: 5px 0;
      }
    }

    a {
      color: #00bfff;
      text-decoration: underline;
    }



  }

  .price-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    background: #f8f8f8;
    border-radius: 8px;

    .discount-price {
      display: flex;
      gap: 5px;
      font-size: 1.5rem;
      font-weight: bold;
      color: #0d033a;

      .price {
        font-size: 2rem;
        font-weight: bold;
      }
    }

    .line-through {
      text-decoration: line-through;
      color: gray;
    }

    .regular-price {
      color: #999;
      margin-top: 5px;
    }

   

    .add-to-cart {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 10px;

      .add-button {
        padding: 10px 20px;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      span {
        color: #ff6f00;
      }
    }

  
  }
  
  // Media Queries for Responsive Design
  @media (max-width: 768px) {
    flex-direction: column; 
    padding: 10px;

    .product-image {
      width: 100%; 
    }

    .product-details {
      margin-top: 10px; 
    }

    .price-section {
      width: 100%; 
    }
  }

  @media (max-width: 480px) {
    .product-details h2 {
      font-size: 1.25rem; 
    }

    .price-section {
      .discount-price {
        font-size: 1.2rem; 
      }

      .regular-price,
      .installments {
        font-size: 0.8rem; 
      }
    }

    .add-to-cart .add-button {
      width: 100%; 
    }
  }
}
