
mat-card {
    height: 680px;
    background-color: #f9f9f9; 
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  mat-card-subtitle{
    color: black;
  }


  .product-image {
    position: relative;
    width: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
    

  .product-image img {
    max-width: 100%; /* Ensures the image scales responsively */
    max-height: 100%; /* Prevents the image from overflowing */
    object-fit: contain; /* Ensures the entire image fits within the given area */
}

    .badge {
      position: absolute;
      top: 20px;
      right: 10px;
      background: #00bfff;
      color: white;
      padding: 5px 10px;
      border-radius: 50%;
      font-weight: bold;
    }

  
  