
<mat-card *ngIf="product" (click)="openProductShowcase()">
  <mat-card-header>
    <mat-card-title>{{ product.productName }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency:'MKD ' }}     
    </mat-card-subtitle>

  </mat-card-header>
  <div class="product-image">
    <img mat-card-image [src]="product.originalImagePath" [alt]="product.productName" height="300px" width="300px">
    <div *ngIf="product.discount > 0" class="badge">-{{ product.discount }}% Discounted</div>
  </div>
  
  <mat-card-content>
    <p>{{ product.brand }}</p>
    <p>{{ product.productDescription }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" *ngIf="isLoggedIn()" (click)="$event.stopPropagation()"  (click)="addToCart()">
      <mat-icon>shopping_cart</mat-icon> Add to Cart
    </button>
  </mat-card-actions>
</mat-card>

